/* =========================
   GOOGLE FONT
========================= */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0f0f0f;
  color: #ffffff;
  overflow-x: hidden;
}

/* =========================
   COLORS
========================= */

:root {
  --black: #0f0f0f;
  --brown: #1b1410;
  --red: #e63946;
  --yellow: #f4c430;
  --white: #ffffff;
}

/* =========================
   SECTION SPACING
========================= */

section {
  padding: 90px 8%;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 2.8rem;
  color: var(--yellow);
  margin-bottom: 10px;
}

.section-title p {
  color: #cfcfcf;
}

/* =========================
   NAVBAR
========================= */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 8%;

  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(12px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-circle {
  width: 50px;
  height: 50px;
   object-fit: cover;

  
  border-radius: 50%;
}

.logo span {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--yellow);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* =========================
   HERO SECTION
========================= */

.hero {
  min-height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("https://images.unsplash.com/photo-1565299507177-b0ac66763828?q=80&w=1800&auto=format&fit=crop");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero-content {
  max-width: 800px;
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.3rem;
  color: #ddd;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* =========================
   BUTTONS
========================= */

.btn-primary {
  background: var(--red);
  color: white;

  text-decoration: none;

  padding: 14px 32px;

  border-radius: 50px;

  transition: 0.4s;
}

.btn-primary:hover {
  transform: translateY(-4px);

  box-shadow: 0 0 25px rgba(230, 57, 70, 0.6);
}

.btn-secondary {
  border: 2px solid var(--yellow);

  color: var(--yellow);

  text-decoration: none;

  padding: 14px 32px;

  border-radius: 50px;

  transition: 0.4s;
}

.btn-secondary:hover {
  background: var(--yellow);
  color: black;
}

/* =========================
   FEATURED SECTION
========================= */

.featured {
  background: var(--brown);
  color:white;
  text-align:center;

}

.featured-grid {
  display: grid;
  color: white;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

.food-card {
  background: #181818;

  border-radius: 20px;

  overflow: hidden;

  transition: 0.4s;
}

.food-card:hover {
  transform: translateY(-10px);
}

.food-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.food-card h3 {
  padding: 20px 20px 10px;
}

.food-card p {
  padding: 0 20px 25px;
  color: #bbb;
}
/* =========================
   MENU SECTION
========================= */

.menu-section {
  background: #111;
}

.menu-category {
  margin: 50px 0 30px;
}

.menu-category h3 {
  font-size: 2rem;
  color: var(--red);
  text-align: center;
}

.veg-category h3 {
  color: var(--yellow);
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-bottom: 40px;
}

.menu-card {
  background: #181818;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.menu-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(230, 57, 70, 0.25);
}

.menu-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.menu-card h4 {
  padding: 18px 20px 10px;
  font-size: 1.2rem;
}

.menu-card p {
  padding: 0 20px;
  color: #bdbdbd;
  min-height: 60px;
}

.menu-card span {
  display: block;
  padding: 18px 20px 20px;
  color: var(--yellow);
  font-size: 1.2rem;
  font-weight: 700;
}

/* =========================
   GALLERY
========================= */

.gallery-section {
  background: var(--brown);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 18px;
}

.gallery-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: 0.5s;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* =========================
   ABOUT SECTION
========================= */

.about-section {
  background: #111;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
}

.about-content h2 {
  color: var(--yellow);
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.about-content p {
  color: #d1d1d1;
  line-height: 1.8;
  margin-bottom: 18px;
}

/* =========================
   CONTACT
========================= */

.contact-section {
  background: var(--brown);
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact-info {
  font-size: 1.1rem;
}

.contact-info h3 {
  margin-bottom: 20px;
  color: var(--yellow);
}

.contact-info p {
  margin-bottom: 15px;
  color: #d8d8d8;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #1f1f1f;
  color: white;
}

.contact-form button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: var(--red);
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.contact-form button:hover {
  transform: translateY(-3px);
}

/* =========================
   FOOTER
========================= */

footer {
  background: #090909;
  padding: 50px 8%;
}

.footer-content {
  text-align: center;
}

.footer-circle {
  width: 70px;
  height: 70px;
  border: 3px solid white;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 15px;
}

.footer-logo h3 {
  margin-bottom: 15px;
}

.copyright {
  margin-top: 15px;
  color: #888;
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 900px) {
  .hero h1 {
    font-size: 3rem;
  }

  .about-container,
  .contact-container {
    grid-template-columns: 1fr;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    background: #111;

    flex-direction: column;
    align-items: center;

    padding: 30px 0;

    transition: 0.4s;
  }

  .nav-links.active {
    left: 0;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 600px) {
  section {
    padding: 70px 6%;
  }

  .hero h1 {
    font-size: 2.3rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .section-title h2 {
    font-size: 2rem;
  }

  .logo span {
    font-size: 1rem;
  }
}

.hero{
    position: relative;
}

.hero-content{
    position: relative;
    z-index: 10;
}

.hero-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.about-section{
    background:red !important;
}

/* =========================
   MENU CATEGORY LIST
========================= */

.menu-categories{
    max-width: 800px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.category-card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    color: white;

    background: rgb(190, 28, 6);

    padding: 22px 30px;

    border-radius: 16px;

    border-left: 5px solid var(--red);

    transition: all 0.3s ease;
}

.category-card:hover{
    transform: translateX(8px);

    background: #222;

    border-left-color: var(--yellow);
}

.category-card h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.category-card::after{
    content: "➜";
    font-size: 1.5rem;
    color: var(--yellow);
    transition: 0.3s;
}

.category-card:hover::after{
    transform: translateX(6px);
}

/* MOBILE */

@media(max-width:768px){

    .category-card{
        padding: 18px 20px;
    }

    .category-card h3{
        font-size: 1.05rem;
    }

    .category-card::after{
        font-size: 1.2rem;
    }
}

/* MENU PAGE */

.menu-page{
    min-height:100vh;
    padding:120px 8%;
    background:#111;
}

.back-btn{
    display:inline-block;
    margin-bottom:40px;

    text-decoration:none;

    color:var(--yellow);

    border:1px solid var(--yellow);

    padding:12px 24px;

    border-radius:40px;
}

.dish-list{
    max-width:800px;
    margin:40px auto 0;
}

.dish-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#1b1b1b;

    padding:22px 30px;

    border-radius:12px;

    margin-bottom:18px;

    border-left:4px solid var(--red);

    font-size:1.1rem;
}

.dish-item:hover{
    background:#222;
}

@media(max-width:768px){

    .dish-item{
        padding:18px;
        font-size:1rem;
    }
}


.whatsapp-float{
    position: fixed;
    bottom: 25px;
    right: 20px;

    background: #25D366;
    color: white;

    padding: 14px 20px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;

    z-index: 1000;

    box-shadow: 0 5px 20px rgba(0,0,0,0.3);

    transition: 0.3s;
}

.whatsapp-float:hover{
    transform: scale(1.05);
}


.review-form-container{
    max-width: 700px;
    margin: 70px auto 0;
    background: #181818;
    padding: 40px;
    border-radius: 20px;
}

.review-form-container h3{
    text-align: center;
    margin-bottom: 30px;
    color: var(--yellow);
}

.review-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-form input,
.review-form select,
.review-form textarea{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #222;
    color: white;
    outline: none;
}

.review-form button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: var(--red);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.review-form button:hover{
    transform: translateY(-3px);
}


/* INSTAGRAM BUTTON */

.instagram-btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    margin-top: 25px;
    padding: 14px 28px;

    background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
    );

    color: white;
    text-decoration: none;

    border-radius: 50px;

    font-weight: 600;

    transition: 0.3s;
}

.instagram-btn i{
    font-size: 1.3rem;
}

.instagram-btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 25px rgba(220,39,67,0.4);
}

/* Decorative Ingredients */

.floating-chili,
.floating-garlic{
    position:absolute;
    width:70px;
    opacity:0.9;
    pointer-events:none;
    animation:float 4s ease-in-out infinite;
}

.menu-section{
    position:relative;
    overflow:hidden;
}

.floating-chili{
    top:40px;
    left:30px;
    transform:rotate(-20deg);
}

.floating-garlic{
    bottom:60px;
    right:40px;
    animation-delay:2s;
}

@keyframes float{

    0%{
        transform:translateY(0px) rotate(-20deg);
    }

    50%{
        transform:translateY(-15px) rotate(-15deg);
    }

    100%{
        transform:translateY(0px) rotate(-20deg);
    }

}